#awards{
    opacity: 0;
    transition: 2s ease;
}

.timeline-container{
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    height: 400px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
}

.awards-content{
    overflow: hidden;
    position: relative;
}

.awards-content-inner-container{
    transition: 0.5s ease;
}

.awards-content-inner{
    padding: 40px 30px 40px 0;
    height: 400px;
    
   

    overflow-y: scroll;
    h4{
        margin-bottom: 5px;
    }
    p{
        margin-bottom: 30px;
        color: $paragraph-text;
    }
}

.awards-years{
    //background-color: rgba(255,255,255,0.2);
    padding: 40px 0;

    ul{
        list-style: none;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: rgba(30,30,30,0.1);
        }

        li{
            position: relative;
            padding-left: 20px;
            transition: 0.5s ease;
            cursor: pointer;

            &:hover{
                color: grey;
                transition: 0.5s ease;
            }
            

            

            &::after{
                position: absolute;
                content: "";
                height: 10px;
                width: 10px;
                top: 50%;
                left: -6px;
                transform: translateY(-50%);
                border-radius: 50%;
                border: 2px solid $teal;
                z-index: 5;
                background-color: $pale-green;
            }
            
            
        }

        .active-year{
            padding-left: 30px;
            font-size: 1.5em;
            margin-top: 30px;
            margin-bottom: 30px;
            
            

            &::after{
                background-color: white;
                transform: scale(1.4) translateY(-50%);
                transform-origin: top;
            }
        }
        
    }
}

