.conferences-container{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);

    img{
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 20px auto;
        display: block;
    }
    padding: 20px;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    li{
        display: grid;
        align-items: center;
        justify-items: left;
        grid-template-columns: 100px auto;
        grid-template-areas:
            "icon header"
            "icon text";
        margin-bottom: 30px;
        &:last-of-type{
            margin-bottom: 0px;
        }
    }

    h4{
        grid-area: header;
        font-size: 18px;
    }

    p{
        grid-area: text;
    }
}

.conference-image{
    justify-self: center;
    align-self: flex-start;
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $teal;

    .fas, .far {
        color: white;
        font-size: 20px;
    }

    .material-icons{
        color: white;
        font-size: 20px;
    }
}