*{
    font-family: futura;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom, $pale-green, rgba($pale-green, 0.7));
    animation-name: page-fade-in;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    opacity: 0;
    width: 100%;


}

@keyframes page-fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}

main{
    transition: 0.5s ease-in-out;
  //background: linear-gradient(120deg, lighten($pale-green,20%), $teal);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s ease-in-out;
    overflow: visible;
}

h2{
    
    // background-color: white;
    // color: black;
    // position: relative;
    // display: inline;
    // padding: 10px 30px 10px 10px;
    // display: inline-block;
    // margin: auto;
    // z-index: 1;
    // text-align: center;
    // box-shadow: 2px 2px 5px rgba(0,0,0, 0.4);

    // &::after{
    //     content: "";
    //     position: absolute;
    //     right: 100%;
    //     top: 0;
    //     bottom: 0;
    //     background-color: white;
    //     width: 500px;
    //     box-shadow: 2px 2px 5px rgba(0,0,0, 0.4);
    //     z-index: -1;
    // }
    margin: auto;
    padding: 10px 30px 10px 30px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.4);
    position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    z-index: 20;
}

.bold{
    font-weight: 900;
    font-family: "helvetica neue";
}
h3{

    font-size: 25px;

    @media (max-width: 1300px){
        font-size: 24px;
    }
    @media (max-width: 1039px){
        font-size: 20px;
    }
    @media (max-width: 859px){
        font-size: 18px;
    }
    

}

h4{
    font-size: 21px;
}

p{
    font-family: "helvetica neue";
    font-weight: 300;
    font-size: 21px;

    color: $paragraph-text;
    @media (max-width: 1300px){
        font-size: 19px;
    }
    @media (max-width: 1127px){
        font-size: 18px;
    }
    @media (max-width: $tablet-sizing){
        font-size: 18px;
        font-weight: 300;
    }
}


a{
    text-decoration: none;
    color: inherit;
}


//----- SECTIONS -----//
#about{
    margin-top: 40px;
    
}



@media only screen and (max-width: $tablet-sizing) {
    .container {
        width: 85%;
}
}
@media only screen and (max-width: 780px){
    #about{
        margin-top: 0px;
    }
}
@media only screen and (max-width: $large-phone-sizing) {
    .container{
        width: 95%;
    }

    
}


