// ----- LINKS ----- //

#links-section{
    background-color: $teal;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    border-top: 2px solid rgba(255,255,255,0.5);

    margin-top: 20px;
}

.links-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 170px;
    &> .email{
        margin-bottom: 20px;
        text-align: center;
        a{
            font-size: 22px;
            display: block;
            color: white;
            text-decoration: underline;
        }
    }
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    i{
        cursor: pointer;
        transition: 0.2s ease-in-out;
        font-size: 40px;
        color: rgba(56,53,55,1);
        display: block;

        &:hover{
            color: white;
        }
    }
    img{
        cursor: pointer;
        transition: 0.5s ease-in-out;

        height: 43px;
    }
}



// ----- FOOTER ----- //
footer{
    background-color: darken($teal, 20%);
    background-color: $paragraph-text;
    color: white;
    font-weight: 200;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    @media (max-width: $large-phone-sizing){
        flex-direction: column;
        height: 100px;
        text-align: center;
    }

    .left{
        
    }

    .right{
        text-align: right;
    }

    a{
        text-decoration: underline;
        color: white;
        transition: 0.5s;

        &:hover{
            color: black;
        }
    }
    .copyright{

    }

    .designed-by{
        

        
    }
}