.publication-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto 0px);
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
    background-color: rgba(255,255,255,0.8);
    padding: 40px 20px;
    transition: 0.5s ease-in-out;
    position: relative;
    

    p{
        font-size: 18px;
        
        
    }
}

.publication-item{
    display: grid;
    grid-template-columns: 100px auto 100px;
    align-items: center;
    position: relative;
    grid-template-areas:
    "icon text image";
    transition: 0.5s ease-in-out;
    padding: 20px;

    @media (max-width: $large-phone-sizing){
        grid-template-columns: 1fr;
        grid-template-areas:
        "icon"
        "text"
        ;
        text-align: center;
    }
    
    //background-color: rgba(white, 0.8);

    .image{
        grid-area: image;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100px;
        height: 100%;
        @media (max-width: $large-phone-sizing){
            display: none;
        }
    }

    .publication-icon{
        grid-area: icon;
        align-self: center;
        justify-self: center;
        position: relative;
        height: 50px;
        width: 50px;
        background-color: $teal;
        display: flex;
        justify-content: center;
        
        align-items: center;
        border-radius: 50%;
    
        .fas, .far{
            font-size: 18px;
            color: white;
        }

        @media (max-width: $large-phone-sizing){
            margin-bottom: 10px;

        }
    }

    &>.fas{
        font-size: 15px;
        color: $teal;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }


    p{
        grid-area: text;
        padding-right: 20px;
        @media (max-width: $small-phone-sizing){
            padding-right: 0;
        }
    }

    &:hover {
        background-color: $teal;
    }

}





.expanded-publication{
    height: 0;
    background-color: lighten($pale-green, 10%);
    width: 100%;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "helvetica neue";
    font-weight: 200;
    opacity: 0;
    line-height: 25px;
    font-size: 18px;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
    
    

}

.expanded-active{
    height: 100%;
    padding: 30px;
    opacity: 1;

    
}





#pub-img1{
    background-image: url(../img/news_archive_article.png);
}

#pub-img2{
    background-image: url(../img/abstract_concepts_paper.jpg);
}

#pub-img3{
    background-image: url(../img/aquavira.jpg);
}