.twitter-publication-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.twitter-timeline{
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
}

.timeline-Tweet-text {
    font-size: 18px !important;
    line-height: 10px !important;
}


@media (max-width: $tablet-sizing){
    .twitter-publication-container{
        grid-template-columns: 1fr;
    }
}