.twitter-publication-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    @media (max-width: $tablet-sizing){
        grid-gap: 70px;
    }
}
.twitter-timeline-container{
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
    position: relative;
}

.timeline-Tweet-text {
    font-size: 18px !important;
    line-height: 10px !important;
}


@media (max-width: $tablet-sizing){
    .twitter-publication-container{
        grid-template-columns: 1fr;
    }
}