.hidden{
    transform: translateY(50px);
    opacity: 0 !important;
    transition: 1000ms ease-in-out;
}

.visible{
    transform: translateY(0px);
    opacity: 1 !important;
    transition: 1000ms ease-in-out;
}