@font-face {
  font-family: FuturaMobile;
  src: url("../assets/fonts/futura medium bt.ttf");
}

* {
  font-family: futura, FuturaMobile;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#CFE6E0), to(rgba(207, 230, 224, 0.7)));
  background: linear-gradient(to bottom, #CFE6E0, rgba(207, 230, 224, 0.7));
  -webkit-animation-name: page-fade-in;
          animation-name: page-fade-in;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  opacity: 0;
  width: 100%;
}

@-webkit-keyframes page-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes page-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  margin: 0 auto;
  max-width: 1150px;
  width: 80%;
  height: 100%;
  padding: 20px 0;
}

@media (max-width: 1060px) {
  .container {
    width: 100%;
    padding: 20px 30px;
  }
}

@media (max-width: 601px) {
  .container {
    padding: 20px 10px;
  }
}

.container--section {
  padding: 40px 0;
}

@media (max-width: 1060px) {
  .container--section {
    padding: 40px 30px;
  }
}

@media (max-width: 601px) {
  .container--section {
    padding: 10px;
    padding-bottom: 50px;
  }
}

p {
  font-size: 21px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #4A5759;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.main {
  padding-top: 190px;
  background-color: #CFE6E0;
  z-index: -1;
  position: relative;
}

@media (max-width: 1060px) {
  .main {
    padding-top: 110px;
  }
}

@media (max-width: 601px) {
  .main {
    padding-top: 80px;
  }
}

strong {
  color: black !important;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  padding: 40px;
  position: relative;
}

@media (max-width: 601px) {
  .card {
    padding: 20px;
  }
}

.card--green {
  background-color: #CFE6E0 !important;
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.button {
  text-align: center;
  display: inline-block;
  padding: 10px;
  background-color: #98D9C2;
  border: 2px solid #98D9C2;
  color: white;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.button--primary {
  background-color: #98D9C2;
  border: 2px solid #98D9C2;
  color: white;
}

.button:hover {
  background-color: white;
  color: #98D9C2;
  border: 2px solid #98D9C2;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #98D9C2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__content {
  font-size: 20px;
}

.section-header {
  display: inline-block;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #CFE6E0;
  padding: 10px 30px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.header {
  background-image: url("../assets/img/header_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 150px;
  position: static;
}

.header__content--shrink {
  height: 47px;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

@media (max-width: 1060px) {
  .header__content {
    height: 70px;
  }
}

@media (max-width: 601px) {
  .header__content {
    height: 40px;
  }
}

.header__branding {
  font-size: 50px;
  color: black;
  font-weight: 100;
  padding: 0 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header__branding--shrink {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@media (max-width: 1060px) {
  .header__branding {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 40px;
  }
}

@media (max-width: 601px) {
  .header__branding {
    font-size: 30px;
  }
}

.header--hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.nav__item {
  display: inline-block;
  padding: 10px 15px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.nav__item:hover {
  color: white;
  background-color: #98D9C2;
}

.nav__item:last-of-type {
  margin-right: 0;
}

@media (max-width: 1060px) {
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
    padding: 10px;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
  .nav__item {
    opacity: 0;
    display: block;
  }
  .nav__item--active {
    opacity: 1;
  }
}

.nav--active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#nav__hamburger {
  display: none;
  position: relative;
  padding: 10px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1060px) {
  #nav__hamburger {
    display: block;
  }
}

@media (max-width: 601px) {
  #nav__hamburger {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 250px 100px auto;
      grid-template-rows: 250px 100px auto;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
      grid-template-areas: 'image text' 'buttons text' 'education education';
}

@media (max-width: 950px) {
  .about__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'image' 'text' 'education' 'buttons';
  }
}

.about__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: 50% 40%;
  -o-object-position: center;
  height: 100%;
  width: 100%;
  display: block;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  position: absolute;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

@media (max-width: 950px) {
  .about__image {
    -webkit-transform: scale(1);
            transform: scale(1);
    position: static;
    height: 300px;
    margin: auto;
    max-width: 300px;
    width: 100%;
  }
}

.about__buttons {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: buttons;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  .about__buttons {
    height: 100px;
  }
}

.about__text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__lead {
  line-height: 130%;
  margin-bottom: 5px;
}

@media (max-width: 1300px) {
  .about__lead {
    font-size: 23px;
  }
}

@media (max-width: 950px) {
  .about__lead {
    margin-bottom: 15px;
  }
}

@media (max-width: 601px) {
  .about__lead {
    font-size: 18px;
  }
}

.about__paragraph {
  line-height: 25px;
  margin-bottom: 5px;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1300px) {
  .about__paragraph {
    font-size: 18px;
    font-weight: 300;
  }
}

@media (max-width: 950px) {
  .about__paragraph {
    color: black;
    margin-bottom: 10px;
  }
}

.education {
  border-top: 3px solid rgba(152, 217, 194, 0.2);
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: education;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 0 -40px -40px -40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.education__entry {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 950px) {
  .education__entry {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 601px) {
  .education__entry {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.education__icon {
  margin-bottom: 10px;
}

.education__title {
  margin-bottom: 5px;
}

.education__p {
  margin-top: 0;
  font-size: 18px;
}

@media (max-width: 950px) {
  .education {
    margin: 0;
    border-top: none;
  }
}

.thoughts-awards {
  position: relative;
  z-index: 10;
}

.thoughts-awards__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

@media (max-width: 950px) {
  .thoughts-awards__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 80px;
  }
}

.twitter {
  position: relative;
}

.timeline-widget,
.twitter-timeline {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 0px;
}

.awards {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  height: 600px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  position: relative;
}

.awards__selection {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #eaf7f3;
}

.awards__years {
  list-style: none;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
}

.awards__years::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: rgba(30, 30, 30, 0.1);
}

.awards__year {
  position: relative;
  padding-left: 20px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.awards__year::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  top: 50%;
  left: -6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  border: 2px solid #98D9C2;
  z-index: 1;
  background-color: #CFE6E0;
}

.awards__year:hover {
  color: grey;
}

.awards__year--active {
  padding-left: 30px;
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.awards__year--active::after {
  background-color: white;
  -webkit-transform: scale(1.4) translateY(-50%);
          transform: scale(1.4) translateY(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.awards__content {
  overflow: hidden;
}

.awards__list {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.awards__inner {
  padding: 60px 30px 30px 20px;
  overflow-y: scroll;
  height: 600px;
}

.awards__inner > h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

@media (max-width: 601px) {
  .awards__inner > h3 {
    font-size: 16px;
  }
}

.awards__inner > p {
  margin-bottom: 35px;
  font-size: 18px;
}

@media (max-width: 601px) {
  .awards__inner > p {
    font-size: 16px;
  }
}

.publications {
  position: relative;
  z-index: 20;
}

.publications__entry {
  -webkit-transition: 250ms;
  transition: 250ms;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 2fr;
      grid-template-columns: 300px 2fr;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.publications__entry:last-of-type {
  margin-bottom: 0;
}

.publications__entry:first-of-type {
  margin-top: 0;
}

.publications__entry:hover {
  background-color: #e3f4ee;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.publications__entry:hover .publications__expanded {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.publications__entry:hover .publications__btn {
  opacity: 0;
}

@media (max-width: 950px) {
  .publications__entry {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 10px;
  }
}

@media (max-width: 950px) {
  .publications__entry {
    text-align: center;
  }
}

.publications__hr {
  width: 100%;
  margin: auto;
  border: none;
  height: 1px;
  background-color: rgba(200, 200, 200, 0.3);
}

.publications__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 950px) {
  .publications__img {
    height: 200px;
  }
}

.publications__text {
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.publications__text > h3 {
  font-weight: 300;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 950px) {
  .publications__text {
    padding: 0;
    padding-top: 30px;
  }
}

@media (max-width: 601px) {
  .publications__text {
    padding-top: 20px;
  }
}

.publications__button {
  width: 200px;
  margin-top: 20px;
}

@media (max-width: 950px) {
  .publications__button {
    margin: auto;
    margin-top: 20px;
  }
}

.publications__expanded {
  z-index: 2;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: #e3f4ee;
  opacity: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 21px;
  color: black;
  line-height: 30px;
  text-align: center;
}

.publications__down {
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #98D9C2;
  opacity: 1;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.conferences__img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0px auto 40px auto;
  display: block;
}

.conferences__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

@media (max-width: 950px) {
  .conferences__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

.conferences__item {
  list-style: none;
  padding: 20px;
}

.conferences__item > h3 {
  grid-area: title;
  margin: 10px 0 5px;
  padding-bottom: 5px;
}

.conferences__item > p {
  grid-area: content;
}

@media (max-width: 950px) {
  .conferences__item {
    padding: 0;
  }
}

@media (max-width: 601px) {
  .conferences__item {
    text-align: center;
  }
}

.conferences__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(152, 217, 194, 0.7);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

@media (max-width: 950px) {
  .conferences__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 601px) {
  .conferences__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.conferences__info {
  font-size: 15px;
  color: grey;
  text-transform: uppercase;
}

.conferences__icon {
  grid-area: icon;
  margin: 0 15px;
  color: #98D9C2;
}

@media (max-width: 601px) {
  .conferences__icon {
    margin-bottom: 10px;
  }
}

.contact {
  border-top: 5px solid rgba(152, 217, 194, 0.5);
  background-color: #e0efeb;
}

.contact__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 40px;
      grid-template-areas: "links button";
}

@media (max-width: 760px) {
  .contact__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "button" "links";
  }
}

.contact__links {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.contact__entry:last-of-type {
  margin-bottom: 0;
}

.contact__entry:hover {
  background-color: rgba(207, 230, 224, 0.7);
}

.contact__entry > .OSF-img {
  width: 50px;
}

@media (max-width: 760px) {
  .contact__entry {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.contact__link-details > p {
  font-size: 22px;
  color: #4A5759;
  margin-left: 10px;
  font-weight: 400;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgba(152, 217, 194, 0.3);
}

.contact__link-details > p:last-of-type {
  font-weight: 300;
  color: #3a9e7b;
  font-size: 14px;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact__icon {
  background-color: transparent;
}

.contact__icon .icon__content {
  font-size: 35px;
  color: #353837;
}

.contact__details {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
  padding: 30px;
  background-color: #f1f7f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact__button {
  margin-top: 30px;
  width: 300px;
}

.footer {
  position: relative;
  z-index: 4;
  font-size: 14px;
  background-color: #98D9C2;
  color: #4A5759;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__right {
  margin-bottom: 10px;
  text-align: center;
}

.footer__right > a {
  display: inline;
  color: black;
}

.footer__right > a:hover {
  text-decoration: underline;
}

.hidden {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0 !important;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

.visible {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1 !important;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}
